#root {
  width: 100vw;
  background-color: #0D1F2D;
  color: #E4C3AD;
  font-family: Signwood;
  padding: 20px;
}

.navbar {
background-color: pink;
}

.footer-a {
  padding: 10px;
}

@media (max-width: 767px) {
  .card {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    font-size: .75em;
    padding: 0;
  }
}

.randomMovie {
  width: 50%;
  font-size: 5em; 
  background-color: red;
  color: whitesmoke; 
  text-shadow: 2px 2px 2px black;  
  margin: 50px;
  @media (max-width: 768px) {
    
      width: 100%;
      font-size: 3em;
    
  }
}

@font-face {
  font-family: "Poster";   
  src: local("PostersItalicPersonalUseBoldItalic-ALqx6"),
    url("./fonts/posters-italic-font/PostersItalicPersonalUseBoldItalic-ALqx6.ttf") format("truetype");
}

@font-face {
  font-family: "Banner";   
  src: local("Banner-DOqK0"),
    url("./fonts/banner-font/Banner-DOqK0.ttf") format("truetype");
}

@font-face {
  font-family: "Signwood";   
  src: local("Signwood-2Om7l"),
    url("./fonts/signwood-font/Signwood-2Om7l.ttf") format("truetype");
}

@font-face {
  font-family: "Nemo";   
  src: local("LostFish-5DOz"),
    url("./fonts/lost-fish-font/LostFish-5DOz.ttf") format("truetype");
}

navbar {
  margin-bottom: 20px;
}

card {
  margin-top: 20px;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

a {
  color: black;
}

img {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
